$bc: #ddd;
$u: 4px;
$u2: 2*$u;
$u3: 3*$u;
$u4: 4*$u;
$p: 2*$u;
$fs: 15px;
$ff: "Helvetica Neue","Droid Sans", arial,sans-serif;

$fs_button: $fs;
$h_button: 36px;
$p_button: 8px;
$bgc_button: hsl(0, 0%, 88%);