/* app css stylesheet */
@import 'compass/css3';
@import 'base';
.temp {
  display:block;
  background-color: #eee;
  border: 1em solid #999;
}

.container{overflow:hidden;zoom:1;margin:0;padding:0}
.container > *{float:left;padding-left:10px}
.container > :first-child{padding-left:0!important}
.container > .grid_12{padding:0}
.grid_1{width:8.333%}
.grid_2{width:16.667%}
.grid_3{width:25%}
.grid_4{width:33.333%}
.grid_5{width:41.667%}
.grid_6{width:50%}
.grid_7{width:58.333%}
.grid_8{width:66.667%}
.grid_9{width:75%}
.grid_10{width:83.333%}
.grid_11{width:91.667%}
html,body{
  width: 100%;height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue","Droid Sans", arial,sans-serif;
}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#header {
  border-bottom: 1px solid black;
  padding: 0 0 5px;
  height: 50px;
  background-color: #fff;
}

h1.site-logo {
  position: absolute;
  top: -15px;
  left: 10px;
}

.finishes,
.imageWrap{float: left;}
.finishes{
  height: 322px;
  width: 80px;
  list-style: none;
  overflow: auto;
  margin: 0; padding:0;
}
.finishes a{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 10px;
  border: solid #ddd;
  border-width: 1px;
  max-height: 100%;
}
.imageWrap{width: 342px;}
.details{margin-left: 422px;}
.prdImage{border: 1px solid #ddd;}
.finishes img{vertical-align: bottom;}

.panel{
  position: fixed;
  top: 100%;
  width: 90%;
  left: 5%;
  height: 100%;
  background-color: #fff;
  border: solid $bc;
  border-width: 1px 1px 0;
  overflow: visible;
  padding: $p;
  z-index: 100;
  .openPanel{
    margin-top: -36px;
    left: -1px;
    top: 0;
    position: absolute;
    background: #fff;
    border: solid $bc;
    border-width: 1px 1px 0;
    padding: $u2 $u3;
    text-decoration: none;
  }
  .close{
    position: absolute;
    top:0;
    right: -1px;
    border: solid $bc;
    border-width: 1px 1px 0;
    text-decoration: none;
    padding: $u $u2;
    @include transition-property(top);
    @include transition-duration(.4s);
  }
  div{
    max-height: 100%;
  }
  @include transition-property(top);
  @include transition-duration(.4s);
  &.on{
    top: 15%;
    @include transition-property(top);
    @include transition-duration(.4s);
    .close{
      top: -27px;
      @include transition-property(top);
      @include transition-duration(.4s);

    }
    z-index: 99;
  }
}
#specs{
  .openPanel{left: 120px}
}
.megaSearch {
  position: absolute;
  right: 0;
  top: 0;
  margin: 9px 15px 28px 0;
  padding: 1px;
  background-color: #999;
  border-radius: 5px;
  input{padding: 4px 3px; border-radius: 5px;}
  button{
    padding: 6px 12px;
    .ie7 &{
      padding: 3px 12px;
    }
    border: 1px solid #fff;
  }
}

ul.user-meta {
  position: absolute;
  right: 230px;
  top: 10px;
  font-size: 10px;
  & li {
    list-style-type: none;
    display: inline;
    padding: 0 5px;
  }
}

#prdBody{
  margin-top: 10px;
  height: 500px;}
#prdBody h1{
  margin: 0 0 10px;
  font-size: 18px;
}
#prdBody h1 b{
  display: block;
  font-size: 24px;
}