<div id="prdBody" class="container">
	<ul class="grid_1 finishes">
		<li ng-repeat="finish in product.finishes">
			<a href="{{finish.image|imagepath:product.manufacturer}}"><img ng-src="{{finish.image|imagepath:product.manufacturer:'60x60'}}"/></a>
		</li>
		<li ng-repeat="img in product.media">
			<a href="{{img.imageName|imagepath:product.manufacturer}}"><img ng-src="{{img.imageName|imagepath:product.manufacturer:'60x60'}}"/></a>
		</li>
	</ul>
	<div class="grid_5">
		<img class="prdImage" ng-src="{{product.image|imagepath:product.manufacturer:'330x320'}}"/>
	</div>
	<div class="grid_6">
		<h1>{{product.manufacturer}} {{product.productId}} - {{product.finish}}</h1>
		<p ng-bind-html="product.cost | dollars"></p>
	</div>
</div>
<div class="grid_12">
	Footer tabs
	<div class="desc hide" ng-bind-html-unsafe="product.description"></div>
</div>